<section >
    <div class="container">
        <form action="/admin/view-news" method="post" enctype="multipart/form-data">
            <label for="">discription</label>
            <input type="text" name="discription">
            <label for="">image</label>
        <input type="file" name="image">
        <button type="submit" style="background-color: rgb(25, 255, 5);">Submit</button>
        </form>
    </div>
</section>