<section >
    <div class="admin-container">
        <form action="/admin/view-news" method="post" enctype="multipart/form-data">
            <label for="">discription</label>
            <input type="text" name="discription">
            <label for="">image</label>
        <input type="file" name="image">
        <button type="submit" class="admin-view-bot1">Submit</button>
        </form>
    </div>
</section>