<section>
    <header style="display: flex;">
      <img src="images/logo.webp" alt="logo.webp" style="width: 100px; height: 70px;">
      <h2 style="color: red;">Admin Panel</h2>
</header>
<hr>
</section>