<div class="user-header-parent">
  <section>
    <header class="child-uhp">
      <img src="images/logo.webp" alt="logo.webp">
      <h1><b>Breaking News</b></h1>
      <div class="subscriber-div">
        {{#if user}}
                <a class="aka" href="#"><b>{{user.name}}</b></a>
                <a class="aka" href="/logout">Logout</a>

        {{else}}
        <a class="aka" href="/subscribe">Subscribe</a></div>
       {{/if}}
</header>
<hr id="hr-1-uhp">
 <div class="marquee-div">
<marquee behavior="" direction=""><p><span>Breaking news: </span>India celebrating Republic day. Prime minister address to peaple of India. Who win the T20 cup. Latest News: Kerala official bird know as Malamuyaki veyambal photo captured in kerala .</p>
</marquee>
 </div> 
<hr id="hr-2-uhp">
</section>
</div>