<div class="user-header-parent">
  <section>
    <header class="child-uhp">
      <img src="images/logo.webp" alt="logo.webp">
      <h1><b>Breaking News</b></h1>
      <div class="subscriber-div">
        {{#if user}}
                <a class="aka" href="#"><b>{{user.name}}</b></a>
                <a class="aka" href="/logout">Logout</a>

        {{else}}
        <a class="aka" href="/subscribe">Subscribe</a></div>
       {{/if}}
</header>
<hr id="hr-1-uhp">
 <div class="marquee-div">
<marquee behavior="" direction=""><p><span>Breaking news: </span>India is a powerful country, indflasdkhfl;kasdhf;lhsd;lfas, aksdjgflasdjhflkasjdhflkasdhf;khsadf, kasljdhflkajdshbflkjadshklfjhsdalkj, kljsadfhlkasjdhlkjasdhlfkjhasdlkjfhlakjsdhf,  end end end end en d end end en d end en deend end end e d</p>
</marquee>
 </div> 
<hr id="hr-2-uhp">
</section>
</div>