<section class="user-view" >
    <div class="user-view-child" id="game_rating">
       {{#each news}}
    <div class="user-view-news-content-box">
        <span class="rating-star"><img src="images/{{this._id}}.jpeg" alt="loading.." width="400px" height="250px"> </span>
        <h4>{{this.discription}}</h4>
    </div>
    {{/each}}
    </div>
</section>
